.container {
  background: hsl(180, 52%, 96%);
  padding-top: 60px;
}

.cardContainer {
  display: flex;
  margin: 10px auto;
}

.cardContainer:first-child {
  margin-top: 10px;
}

.jobCard {
  background-color: white;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  width: 80vw;
  box-shadow: 0px 12px 50px -6px rgba(91, 164, 164, 0.21);
  -webkit-box-shadow: 0px 12px 50px -6px rgba(91, 164, 164, 0.21);
  -moz-box-shadow: 0px 12px 50px -6px rgba(91, 164, 164, 0.21);
  border-radius: 5px;
}

.borderLeft {
  border-left: 5px solid hsl(180, 29%, 50%);
}

/* Logo*/
.imageContainer {
  padding: 20px;
}

/* Job card sections*/
.cardContent {
  margin: 5px;
}

/* Card content at the start of the container */
.end {
  list-style: disc;
}

/* Card content in center */
.centerContent {
  margin: auto 0px auto 10px;
}

.centerContent li {
  margin: 5px;
}

.centerTitle {
  display: flex;
  align-items: center;
  width: 20vw;
  font-weight: 800;
}

.centerBody {
  font-weight: 800;
  font-size: 18px;
}

.centerFoot {
  display: flex;
  color: hsl(180, 14%, 20%);
  font-weight: 500;
}
/* end of card content in center*/

/* Content on the end of the card */

.endContent {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  color: hsl(180, 29%, 50%);
  font-weight: 700;
}

.endContent li {
  margin: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: hsl(180, 31%, 95%);
  padding: 8px;
}
.endContent li:hover {
  background: hsl(180, 29%, 50%);
  color: white;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.cardListItem {
  margin: 0 5px;
}

.company {
  color: hsl(180, 29%, 50%);
}

.isNewAd {
  background: hsl(180, 29%, 50%);
  padding: 5px 8px;
  border-radius: 15px;
  color: hsl(180, 52%, 96%);
  font-size: 16px;
}

.featured {
  background: hsl(180, 14%, 20%);
  padding: 5px 8px;
  border-radius: 15px;
  color: hsl(180, 52%, 96%);
  font-size: 16px;
}
